 /* Reset de estilos */
 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
/* Reset básico */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #ffffff;
    margin: 0;
  }
  
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #1d1a16;
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    
  }
  
  .header-inner-content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding: 0 20px;
  }
  
  /* Logo */
  .logo img {
    margin-left: 5%;
    width: 170px;
    height: 90px;
  }
  
  /* Menu centralizado */
  .main-nav {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .main-nav ul {
    font-family: "Poppins", sans-serif;
    font-weight: 190;
    font-style: normal;
    list-style: none;
    display: flex;
    gap: 140px;
  }
  
  .main-nav li {
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
  }
  
  /* Ícones à direita */
  .nav-icon-container {
    margin-right: 1%;
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  .nav-icon-container img {
    margin-right: 10%;
    width: 26px;
    cursor: pointer;
  }
  
  /* Botão de login */
  .login-button {
    background-color: #e63770;
    margin-right: 10%;
    padding: 6px 12px;
    color: white;
    border: none;
    border-radius: 6px;
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s;
  }
  
  .login-button:hover {
    background-color: #c72e5f;
  }
  
 /* Botão padrão (mobile) */
.hamburger {
    display: none;
  font-size: 28px;
  cursor: pointer;
  color: white;
  background: none;
  border: none;
  transition: transform 0.3s ease, color 0.3s ease;
}
  /* Quando clicado */
.hamburger.active {
    transform: rotate(90deg); /* ou 180deg, se quiser */
    color: #e63770; /* muda a cor quando ativo */
  }
  
  /* RESPONSIVO */
  @media (max-width:1008px) {
    .header-inner-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 16px;
      height: 70px;
      position: relative;
    }
  
    .hamburger {
      display: block;
      top: 20%;
      font-size: 28px;
      cursor: pointer;
      color: rgb(255, 255, 255);
      z-index: 11;
      margin: 0;

    }
  
    .logo {
      position: absolute;
      left: 45%;
      transform: translateX(-50%);
      top: 65%;
      transform: translate(-50%, -50%);
      z-index: 1;
    }
  
    .logo img {
      width: 130px;
      height: auto;
    }
  
    .nav-icon-container {
      display: flex;
      align-items: center;
      gap: 10px;
      z-index: 1001;
    }
  
    .login-button {
      padding: 5px 10px;
      font-size: 13px;
    }
  
    .cart-button {
      width: 26px;
      height: 26px;
    }
  
    .main-nav {
      position: static;
      width: 100%;
    }
  
    .main-nav ul {
      display: none;
      flex-direction: column;
      gap: 15px;
      align-items: center;
      background-color: #1d1a16;
      width: 100%;
      padding: 20px 0;
      position: absolute;
      top: 70px;
      left: 0;
      z-index: 999;
    }
  
    .main-nav ul.show {
      display: flex;
    }
  }
  



.header-bottom-side-left {
    margin-left: 20px;
}


.button:hover {
    background-color: #e62b00; /* Cor do botão ao passar o mouse */
}


.product {
    background-color: white; /* Cor de fundo do produto */
    border-radius: 10px; /* Bordas arredondadas */
    padding: 10px; /* Espaçamento interno do produto */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra do produto */
    text-align: center; /* Centraliza o texto */
}

.product img {
    max-width: 100%; /* Ajusta a imagem ao tamanho do produto */
    height: auto; /* Mantém a proporção da imagem */
}



.buy-button {
    background-color: #ff6200ea; /* Cor do botão de comprar */
    color: white; /* Cor do texto do botão */
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.buy-button:hover {
    background-color: #e62b00; /* Cor do botão de comprar ao passar o mouse */
}






html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden; /* impede rolagem horizontal */
  }
    


/* Estilo do header com imagem de fundo */
header {
    background-image: url('roupas/academiacopy.png' );
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.5);
    max-width: 100%;
    
}


.header-inner-content-2 {
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate( -50%, -50%);
    text-align: center;
    line-height: 1.2; /* Ajusta a altura da linha para diminuir o espaçamento interno */
}
.Fitzin{
    color: #ff0055;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 350;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 0.002; /* Ajusta a altura da linha para diminuir o espaçamento interno */
}



/* Seção da introdução (à esquerda) */
.header-bottom-side-left {
    flex-basis: 50%;
    padding: 0.1rem;
    text-align: center;
}

.header-bottom-side-left h2 {
    font-size: 100px;
    font-family: 'Oswald', sans-serif;
    color: #fff;
    font-weight: 700;
    margin-bottom: 6.51rem;
    text-transform: uppercase;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
    letter-spacing: 0.1rem;
    animation: fadeIn 2s ease-in-out;
    
}

.header-bottom-side-left p {
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    color: #f0f0f0;
    line-height: 1.8;
    margin-top: -1.8rem;
    margin-bottom: 2.5rem;
    max-width: 80%;
    animation: fadeInUp 1.5s ease-in-out;
    margin-left: 5rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
}
/* Animação suave para a introdução */
@keyframes fadeIn {
0% {
    opacity: 0;
    transform: translateY(-20px);
}
100% {
    opacity: 1;
    transform: translateY(0);
}
}

@keyframes fadeInUp {
0% {
    opacity: 0;
    transform: translateY(20px);
}
100% {
    opacity: 1;
    transform: translateY(0);
}

}
@media (max-width: 768px) {
    .header-inner-content-2 {
        flex-direction: column;
        text-align: center;
    }

    .header-bottom-side-left {
        padding: 20px;
    }

    .header-bottom-side-left h2 {
        font-size: 3rem; /* Reduz o tamanho do título */
    }

    .button-container {
        margin-top: 10px;
    }

    .header-bottom-side-center {
        display: none; /* Esconde esse elemento em telas menores */
    }
}


.header-bottom-side-left .button {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    padding: 1.5rem 0.5rem;
    background-color: #c6008c;
    border-radius: 9999px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px #b1a2a2;
    text-decoration: none;
    transition: all 0.3s;
    align-items: center;
    justify-content: center;
    max-width: 350px;
    position: fixed; /* Fixa o botão na tela */
    bottom: 15px; /* Define a distância da borda inferior */
    left: 50%; /* Centraliza horizontalmente */
    transform: translateX(-50%); /* Ajusta o centro do botão */
    z-index: 1000; /* Garante que fique sobre outros elementos */
}




.header-bottom-side-left .button:hover {
    transition: all 0.5;
    font-weight: bold;
    color: #ffffff;
    transition: all 0.5;
   
    
}
/* Seção central do header (imagem ou conteúdo) */
.header-bottom-side-center {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    
}

/* Seção dos produtos */
.gray-background {
    /* Navbar */

    background-color: #211e19;
    padding: 1rem;
    box-shadow: 0px 30px 30px #211e19;
}



.page-inner-content {
    max-width: 1280px;
    margin: 0 auto;
    padding-top: 3rem;
    box-shadow: #000000;
    padding-bottom: 5rem;
    
    
    
    
}
h3.section-titles {
    font-size: 2.5rem;
    color: #020131; /* Cor de destaque */
    margin-bottom: 1rem;
    text-align: center;
    font-weight: bold;
    position: relative;
    margin-top: 7rem;
}
.subtitles-underline {
    width: 80px;
    height: 4px;
    background-color: #c6008c;
    margin: 0 auto;
    border-radius: 2px;
    margin-bottom: 6rem;
    
}

/* Estilos das colunas de produtos */
.cols-3 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10rem;
    padding: 2rem;
}

.cols-3 img {
    max-width: 100%;
    height: auto;
    border: 2px solid #ff00b3;
    border-radius: 10px;
}

.cols-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    margin-top: 3rem;
    margin-bottom: 50rem;
}
.cols-1{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    margin-top: 3rem;
    margin-bottom: 50rem;
}
.cols-2{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    margin-top: 3rem;
    margin-bottom: 50rem;
}

.cols-4 img {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 0.9;
    border: 2px solid #ffa600;
    border-radius: 10px;
    
}

.cols-4 img:hover {
    transform: scale(1.05);
    opacity: 1;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    
}

/* Estilo do botão de compra */



.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
  }
  
  .modal-conteudo {
    background-color: #fff;
    margin: 15% auto;
    padding: 30px;
    border: 1px solid #ccc;
    width: 90%;
    max-width: 400px;
    border-radius: 10px;
    text-align: center;
    animation: fadeIn 0.3s ease;
  }
  
  .modal-conteudo p {
    font-size: 16px;
    color: #333;
  }
  
  .fechar {
    color: #aaa;
    float: right;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .fechar:hover {
    color: #000;
  }
  
  @keyframes fadeIn {
    from { opacity: 0; transform: scale(0.9); }
    to { opacity: 1; transform: scale(1); }
  }
  




.filter {
    flex-direction: column;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Cria uma grid com 3 colunas */
    gap: 1rem; /* Espaçamento entre os círculos */
    margin-top: 1rem;
    margin-bottom: -20rem;
    padding: 1rem;
    border-right: 1px solid #ddd; /* Linha de separação */
    width: 200px; /* Ajuste conforme necessário */
}


.filter-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    
   
}


.filter-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #ccc;
    cursor: pointer;
    transition: border-color 0.35s;
    margin-bottom: 0.5rem ;
    
    
}

.filter-button[data-color="azul"] {
    background-color: #0000ff;
    
}

.filter-button[data-color="marrom"] {
    background-color: #8b4513;
}

.filter-button[data-color="rosa"] {
    background-color: #ffc0cb;
}

.filter-button[data-color="verde"] {
    background-color: #008000;
}

.filter-button[data-color="vermelho"] {
    background-color: #ff0000;
}

.filter-button[data-color="todos"] {
    background: rgb(0,26,255);
    background-image: linear-gradient(180deg, #ff88ef 0, #ff85db 3.85%, #ff85c6 7.69%, #ff86b2 11.54%, #ff8b9e 15.38%, #ff908a 19.23%, #ff9878 23.08%, #ffa066 26.92%, #ffa955 30.77%, #ffb145 34.62%, #ffba36 38.46%, #ffc227 42.31%, #ffca19 46.15%, #f8d110 50%, #e5d712 53.85%, #d1dd1e 57.69%, #bce32d 61.54%, #a6e73d 65.38%, #8deb4f 69.23%, #6fee61 73.08%, #46f174 76.92%, #00f487 80.77%, #00f69c 84.62%, #00f7b1 88.46%, #00f8c6 92.31%, #00f9dc 96.15%, #00f9f1 100%);
}
.filter-button:hover {
    border-color: #000000;
}

.color-name {
    font-size: 0.66rem;
    color: #2c2c2c;
    margin-top: 0.5rem;
    text-align: center;
    margin-bottom: rem;
}
 /* Grid de Produtos */
.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 3fr));
    gap: 8rem;
    padding: 10rem;
    margin: 1rem auto;
    max-width: 1160px;
}

/* Media Queries */
@media (max-width: 800px) {
    .product-grid {
        display: grid; /* Certifique-se de que o display está definido como grid */
        grid-template-columns: 1fr; /* Um único item por linha */
        gap: 4rem; /* Espaçamento entre os itens */
        padding: 1rem; /* Espaçamento interno da grid */
    }

    .product-item {
        border: 1px solid #ccc; /* Adiciona uma borda para melhor definição */
        border-radius: 8px; /* Borda arredondada para os itens */
        padding: 1rem; /* Espaçamento interno do item */
        transition: transform 0.2s; /* Efeito de transição ao passar o mouse */
    }

    .product-item:hover {
        transform: scale(1.05); /* Efeito de zoom ao passar o mouse */
    }
}

.h2-produtos {
    font-family: 'Courier New', Courier, monospace;
    font-optical-sizing: auto;
    font-style: normal;
    text-align: center;
    font-weight: bold;
    margin-bottom: 4rem;
    margin-top: 2rem;
}
.escrito{
    font-family: "Lilita One", sans-serif;
    font-weight: 200;
    font-display: bold;
    color: #292929;
    text-shadow: 2px 2px 2px #b1a8a8;
    position: absolute;
    top: 109%;
    left: 4.2%;
    bottom: 100%;
    transform: translate(-50%, -50%);
}

@media (max-width: 800px) {
    
    
    .filter {
        width: 100%; /* O filtro ocupa a largura total em dispositivos móveis */
        margin: 0; /* Remove a margem em dispositivos móveis */
        padding: 0; /* Remove o padding em dispositivos móveis */
        border-right: none; /* Remove a linha de separação */
        grid-template-columns: repeat(auto-fill, minmax(40px, 1fr)); /* Ajusta a grid para dispositivos móveis */
        overflow-x: auto; /* Permite rolar horizontalmente se necessário */
    }
}
/* CSS para a mensagem de carregamento */
.loading-message {
display: none;
margin-top: 20px;
font-size: 1.5rem;
color: #ff0000;
text-align: center;
}
.scroll {   /*classe com qualquer nome*/
overflow:auto;
}

.product-price{
font-size: 120%;
}
.product-name{
font-size: 150%;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-style: normal;
}
.product {
    position: relative;
}

.buy-button {
    background-color: #28a745; /* Cor de fundo verde */
    color: white; /* Cor do texto */
    margin-bottom: -2rem;
    border: none; /* Sem borda */
    padding: 10px 20px; /* Espaçamento interno */
    font-size: 16px; /* Tamanho da fonte */
    cursor: pointer; /* Muda o cursor para uma mão ao passar o mouse */
    border-radius: 5px; /* Cantos arredondados */
    transition: background-color 0.3s ease, transform 0.2s ease;
    
}
.buy-button:active {
    transform: scale(1.1); /* Aumenta o tamanho do botão ao clicar */
    background-color: #45a049; /* Altera a cor ao clicar */
}

/* Efeito de hover */
.buy-button:hover {
    transition: all 0.5s;
    background-color: #218838; /* Cor de fundo mais escura no hover */
     }
     footer {
        background-color: rgb(53, 51, 51);
        color: #f1f1f1;
        padding: 50px 0;
        text-align: center;
    }
    
    .footer-container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    
    .footer-section {
        width: 25%;
        margin-bottom: 20px;
    }
    
    .footer-section h2 {
        font-family: 'Oswald', sans-serif;
        font-size: 18px;
        margin-bottom: 15px;
    }
    
    .footer-section p, .footer-section ul, .footer-section a {
        font-family: 'Montserrat', sans-serif;
        color: #f1f1f1;
        font-size: 14px;
        line-height: 1.5;
    }
    
    .footer-section ul {
        list-style: none;

    }
    
   
    
    .footer-section a {
        text-decoration: none;
        color: #f1f1f1;
        transition: color 0.3s;
    }
    
    .footer-section a:hover {
        color: #ff6347;
    }
    
    .footer-bottom {
        border-top: 1px solid rgb(53, 51, 51);
        font-size: 12px;
    }
    
    .redes-sociais a {
        display: inline-block;
        margin-right: 10px;
        transition: transform 0.3s;
    }
    
    .redes-sociais a img {
        width: 24px;
        height: 24px;
    }
    
    .redes-sociais a:hover {
        transform: scale(1.2);
    }
   
 
    
    @keyframes particle-animation {
        0% {
            transform: scale(1);
            opacity: 0.8;
        }
        50% {
            transform: scale(1.5);
            opacity: 0.5;
        }
        100% {
            transform: scale(0);
            opacity: 0;
        }
    }
    /* Estilos para a seção de suporte */
#suporte {
    padding: 10px;
    background-color: #f9f9f9;
    margin: 0px 0;
    border-radius: 8px; /* Bordas arredondadas */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidade */
    margin-right: 70%;

    
}

#suporte h2 {
    margin-bottom: 15px;
    font-family: 'Oswald', sans-serif;
    color: #3b3939;
    padding: -15%;
}

#suporte p {
    margin-bottom: 20px;
    color: #000000; /* Cor do texto */
}

#support-form {
    display: flex;
    flex-direction: column;
}

#support-form label {
    margin: 5px 0;
}

#support-form input, 
#support-form textarea {
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s; /* Transição suave na mudança de cor da borda */
}



#support-form button {
    padding: 12px;
    background-color: #5cb85c; /* Cor de fundo do botão */
    color: white; /* Cor do texto do botão */
    border: none; /* Remove a borda padrão */
    border-radius: 4px;
    cursor: pointer; /* Cursor de mão ao passar sobre o botão */
    font-size: 16px; /* Aumenta o tamanho da fonte */
    transition: background-color 0.3s; /* Transição suave ao passar o mouse */
}

#support-form button:hover {
    background-color: #4cae4c; /* Cor de fundo ao passar o mouse */
}
@media (max-width: 768px) {
    #suporte h2 {
        width: 100%; /* Aumenta a largura do título */
        text-align: center;
        margin-bottom: 10px;
        padding: 0;
    }

    #suporte p {
        width: 180%; /* Aumenta a largura do parágrafo */
        font-size: 14px;
        margin-bottom: 15px;
        text-align: justify; /* Justifica o texto para distribuir melhor as palavras */
    }
}


    #support-form {
        padding: 10px; /* Adiciona um pouco de padding para espaçamento */
    }

    #support-form input,
    #support-form textarea {
        padding-right: 50px; /* Diminui o padding para economizar espaço */
        font-size: 14px; /* Ajusta o tamanho da fonte para dispositivos móveis */
    }

    #support-form button {
        font-size: 14px; /* Ajusta o tamanho da fonte do botão */
        padding: 10px; /* Diminui o padding para dispositivos menores */
    }





