/* Reset básico */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6; /* Altura da linha */
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Garante que o corpo ocupe toda a altura */
    background-color: #ffffff; /* Cor de fundo */
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Garante que ela fique por cima dos outros elementos */
    background-color: #1d1a16; /* Coloca a cor de fundo pra não ficar transparente */
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Opcional: uma sombrinha pra destacar */
  }
  
  .header-inner-content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px; /* ajuste conforme necessário */
  }
  /* Logo */
  .logo img {
    margin-left: 10%;
    width: 170px;
    height: 90px;
  }
  
  /* Centralizar menu */
  .main-nav {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    
  }
  
  .main-nav ul {
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 190;
    font-style: normal;
list-style: none;
display: flex;
gap: 140px;
}
 
  
  .main-nav li {
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
  }
  /* Ícones à direita */
  .nav-icon-container {
    margin-right: 1%;
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  /* Carrinho */
  .nav-icon-container img {
    margin-right: 10%;
    width: 26px;
    cursor: pointer;
  }
  
  /* Botão de login */
  .login-button {
    margin-right: 10%;
    padding: 6px 12px;
    background-color: #e63770;
    color: white;
    border: none;
    border-radius: 6px;
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s;
  }
  
  .login-button:hover {
    background-color: #e63770;
  }
/* Estilos para as seções */
section {
    flex: 1; /* Faz a seção ocupar o espaço restante */
    padding: 90px; /* Espaçamento interno */
    max-width: 800px; /* Largura máxima da seção */
    margin: auto; /* Centraliza a seção */
    background-color: white; /* Fundo branco para a seção */
    border-radius: 8px; /* Bordas arredondadas */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

h2 {
    color: #ffffff; /* Cor dos títulos */
    margin-bottom: 20px; /* Margem abaixo dos títulos */
}

/* Estilos para o carrinho */
.cart-item {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
}

.cart-item button {
    background-color: #f00;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.cart-item button:hover {
    background-color: #c00;
}

.cart-total {
    margin-top: 20px; /* Margem acima do total */
    font-weight: bold; /* Destaca o total */
}

#checkout-button {
    background-color: #4CAF50; /* Cor do botão */
    color: white; /* Cor do texto do botão */
    border: none; /* Remove bordas do botão */
    padding: 10px 15px; /* Espaçamento interno do botão */
    border-radius: 5px; /* Bordas arredondadas */
    cursor: pointer; /* Muda o cursor ao passar sobre o botão */
    transition: background-color 0.3s; /* Transição suave */
}

#checkout-button:hover {
    background-color: #45a049; /* Cor do botão ao passar o mouse */
}

footer {
    background-color: rgb(53, 51, 51);
    color: #f1f1f1;
    padding: 50px 0;
    text-align: center;
}
    
    .footer-container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    
    .footer-section {
        width: 25%;
        margin-bottom: 20px;
    }
    
    .footer-section h2 {
        font-family: 'Oswald', sans-serif;
        font-size: 18px;
        margin-bottom: 15px;
    }
    
    .footer-section p, .footer-section ul, .footer-section a {
        font-family: 'Montserrat', sans-serif;
        color: #f1f1f1;
        font-size: 14px;
        line-height: 1.5;
    }
    
    .footer-section ul {
        list-style: none;

    }
    
   
    
    .footer-section a {
        text-decoration: none;
        color: #f1f1f1;
        transition: color 0.3s;
    }
    
    .footer-section a:hover {
        color: #ff6347;
    }
    
    .footer-bottom {
        border-top: 1px solid rgb(53, 51, 51);
        font-size: 12px;
    }
    
    .redes-sociais a {
        display: inline-block;
        margin-right: 10px;
        transition: transform 0.3s;
    }
    
    .redes-sociais a img {
        width: 24px;
        height: 24px;
    }
    
    .redes-sociais a:hover {
        transform: scale(1.2);
    }
   
 
    
    @keyframes particle-animation {
        0% {
            transform: scale(1);
            opacity: 0.8;
        }
        50% {
            transform: scale(1.5);
            opacity: 0.5;
        }
        100% {
            transform: scale(0);
            opacity: 0;
        }
    }
    /* Estilos para a seção de suporte */

.btn-voltar {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #ff4d4d; /* Cor de fundo vermelha */
    color: white; /* Cor do texto */
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    transition: background 0.3s;
}

.btn-voltar:hover {
    background-color: #cc0000; /* Cor ao passar o mouse */
}

/* Media Queries para Responsividade */

/* Para telas pequenas (até 600px) */
@media (max-width: 600px) {
    .navbar {
        flex-direction: column; /* Coloca a barra de navegação verticalmente */
    }

    .navbar a {
        margin: 10px 0; /* Ajusta o espaçamento entre os itens */
        padding-left: 0;
    }

    .footer-container {
        flex-direction: column; /* Faz o footer ficar vertical */
        align-items: center;
    }

    .footer-section {
        width: 100%; /* Cada seção do footer ocupa toda a largura */
        text-align: center; /* Alinha o texto ao centro */
    }

    .cart-item {
        flex-direction: column; /* Faz o carrinho se alinhar verticalmente */
        align-items: center; /* Alinha os itens do carrinho ao centro */
    }

    .cart-item button {
        margin-top: 10px; /* Dá espaço entre o preço e o botão */
    }

    .cart-total {
        font-size: 18px; /* Ajusta o tamanho da fonte do total */
        text-align: center; /* Centraliza o total */
    }

    #checkout-button {
        width: 100%; /* Faz o botão ocupar toda a largura */
    }

    .footer-bottom {
        font-size: 10px; /* Diminui o tamanho da fonte no footer em telas pequenas */
    }
}

/* Para telas médias (600px até 1024px) */
@media (max-width: 1024px) {
    .navbar {
        flex-direction: column; /* Faz a barra de navegação se empilhar verticalmente */
    }

    .footer-container {
        flex-direction: column; /* Faz o footer ficar vertical */
    }

    .footer-section {
        width: 100%; /* Cada seção do footer ocupa toda a largura */
    }
}
@media (max-width: 768px) {
  

    .main-nav {
      position: static;
      transform: none;
      margin-top: 10px;
      width: 100%;
      align-items: center;
      justify-content: center;
    }
  
    .main-nav ul {
    display: none;
      flex-direction: column;
      gap: 10px;
      align-items: center;
    }
  
    .nav-icon-container {
        display: flex;
        margin-bottom: 1%;
      gap: 10px;
      align-items: center;
      margin-right: 3rem;
      
    }
  
    .login-button {
      padding: 5px 10px;
      font-size: 13px;
      align-items: center;
    }
  
    .cart-button {
      width: 40px;
      height: 40px;
      align-items: center;
    }
  }
  .modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
  }
  
  .modal-conteudo {
    background-color: #fff;
    margin: 15% auto;
    padding: 30px;
    border: 1px solid #ccc;
    width: 90%;
    max-width: 400px;
    border-radius: 10px;
    text-align: center;
    animation: fadeIn 0.3s ease;
  }
  
  .modal-conteudo p {
    font-size: 16px;
    color: #333;
  }
  
  .fechar {
    color: #aaa;
    float: right;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .fechar:hover {
    color: #000;
  }
  
  @keyframes fadeIn {
    from { opacity: 0; transform: scale(0.9); }
    to { opacity: 1; transform: scale(1); }
  }
  